.movie-box {
    width: 200px;
    text-align: center;
    background-color:#1e1f6b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}
.movie-box img {
    width: 100%;
    border-radius: 8px;
}
.buy-button {
    display: inline-block;
    background-color: #364f63;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
.buy-button:hover {
    background-color: #243847;
}

.movies-container {
    display: flex;
    flex-wrap: wrap; /*quebra a linha quando faltar espaço */
    gap: 10px; /*espaço entre as caixas */
    justify-content: center; /*Centraliza na tela */
}

.movies-box {
    width: calc(33.333% - 20px); /* 3 por linha */
    box-sizing: border-box; /*padding e bordaa entram em calculo*/ 
}

